<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:name=".MainApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.APushKit">

        <activity
            android:name="com.mozhimen.pushk.engagelab.test.activity.MainActivity"
            android:configChanges="orientation|screenSize|smallestScreenSize|screenLayout|layoutDirection"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- 用于演示MTPush的功能 -->
        <activity
            android:name="com.mozhimen.pushk.engagelab.test.activity.PushActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />

        <!--        &lt;!&ndash; 用于演示保活MTKeepalive的功能 &ndash;&gt;-->
        <!--        <activity-->
        <!--            android:name="com.engagelab.app.activity.KeepaliveActivity"-->
        <!--            android:exported="false"-->
        <!--            android:windowSoftInputMode="adjustUnspecified|stateHidden" />-->


        <!--/////////////////////////////////////////////////////////////////////////////////////-->
        <!--//分割//-->
        <!--/////////////////////////////////////////////////////////////////////////////////////-->

        <!-- 用于演示MTPush4.0.0版本开始的通知点击跳转 -->
        <activity
            android:name="com.mozhimen.pushk.engagelab.test.component.CustomMessageActivity40X"
            android:exported="false" /> <!--exported不需要为true，sdk内部已做中转 -->

        <!-- 用于演示自定义消息展示 -->
        <activity
            android:name="com.mozhimen.pushk.engagelab.test.component.CustomMessageActivity34X"
            android:exported="false" />

        <!-- 用于演示deepLink的通知点击跳转 -->
        <!--        <activity-->
        <!--            android:name="com.engagelab.app.component.UserActivity400"-->
        <!--            android:exported="false" >-->
        <!--            <intent-filter>-->
        <!--                <data android:scheme="你的scheme"/>-->
        <!--                <data android:host="你的host"/>-->
        <!--                <action android:name="android.intent.action.VIEW" />-->
        <!--                <category android:name="android.intent.category.DEFAULT" />-->
        <!--                <category android:name="android.intent.category.BROWSABLE" />-->
        <!--            </intent-filter>-->
        <!--        </activity>-->
        <!--exported不需要为true，sdk内部已做中转 -->
    </application>
</manifest>